# --- GLOBAL ---
.DS_Store
*.log
sivx.exe
.env


# --- FRONTEND (Node/Next.js) ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# --- BACKEND (Python/Docker) ---
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.venv/
backend/env/
backend/.pytest_cache/
backend/.env
backend/.coverage
backend/htmlcov/
backend/celerybeat-schedule

# --- IDE SETTINGS (VS Code) ---
.vscode/
*.swp